@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    height: 100vh;
    background-color: #f1f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('https://img.freepik.com/free-vector/circles-background-dark-tones_60389-166.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1723766400&semt=ais_hybrid');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.counter-heading {
    font-size: 50px;
    font-family: "EB Garamond";
    font-weight: 800;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.counter-value {
    font-size: 75px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #007bff;
    transition: color 0.3s ease;
}

.counter-value:hover {
    color: #0056b3;
}

.button {
    margin: 8px;
    border-radius: 7px;
    padding: 10px 20px;
    border: 2px solid #007bff;
    background-color: #f1f5f8;
    color: #007bff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #007bff;
    color: white;
    transform: translateY(-3px);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}